@model Paginate<CategoryListVM>

@{
    ViewBag.Title = "Category";
    int order = ViewBag.Order + 1;
}

<div style="width: 70%; margin-left: 40px">
    <div style="display: flex; justify-content:right">
        <a asp-area="Admin" asp-controller="Category" asp-action="Create" style="color: white;background-color: green; border: none" class="btn my-5">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Datas)
            {
                <tr>
                    <td>@order</td>
                    <td>@category.Name</td>
                    <td>
                        <div style="display: flex">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" style="color: white;background-color: purple" class="btn">Details</a>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" style="color: black; margin-left: 10px; background-color: yellow" class="btn">Edit</a>
                            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                <button type="submit" style="background-color: red; color: white; margin-left: 10px" class="btn">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>

                order++;
             }
        </tbody>
    </table>

    <nav class="mt-5" style="display: flex; justify-content: center">
        <ul class="pagination">
            <li class="page-item @(Model.HasPrevious ? "" : "disabled")"><a class="page-link" asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous</a></li>

            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")"><a class="page-link" asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="@i">@i</a></li>
            }

            <li class="page-item @(Model.HasNext ? "" : "disabled")"><a class="page-link" asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a></li>
        </ul>
    </nav>
</div>